*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  background: rgb(55, 126, 13);
  background: linear-gradient(
    90deg,
    rgba(55, 126, 13, 1) 0%,
    rgba(55, 126, 13, 1) 100%
  );
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.scoreDisplay {
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  height: 60%;
  background-color: black;
}
.scoreDisplay h1 {
  margin-bottom: 15px;
  align-content: center;
  min-width: 200px; /* Set a minimum width for the scoreDisplay containers */
  font-size: 200px;
  font-style: initial;
  background-color: black;
  color: red;
}
.card-btn button {
  border-radius: 5px;
  color: #262626;
  padding: 10px 35px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
button#decrement {
  background: #f6e58d;
}
button#decrement:hover {
  background: #f79f1f;
  color: #fff;
}
button#reset {
  background: #f3a683;
}
button#reset:hover {
  background: #ea2027;
  color: #fff;
}
.incrementButton {
  background: #c4e538;
}
.incrementButton:hover {
  background: #009432;
  color: #fff;
}
.teamField {
  margin: auto;
  background: #1fbef7;
  align-items: center;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
}
.teamsContainer {
  display: flex;
  background: #1fbef7;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
}
.member2Field {
  margin-bottom: 15px;
}

.teamName {
  font-size: 80;
}