*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  background: black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.scoreDisplay {
  display: flex;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  height: 60%;
  width: 20%;
  background-color: black;
  outline: solid;
  outline-color: white;
}
.scoreDisplay h1 {
  display: flex;
  margin: auto;
  align-self: center;
  min-width: 300px; /* Set a minimum width for the scoreDisplay containers */
  font-size: 300px;
  font-style: initial;
  background-color: black;
}
#score1 {
  color: red;
}
#score2 {
  color: blue;
}
#score3 {
  color: green;
}
button#decrement {
  background: #f6e58d;
}
button#decrement:hover {
  background: #f79f1f;
  color: #fff;
}
button#reset {
  background: #f3a683;
}
button#reset:hover {
  background: #ea2027;
  color: #fff;
}
.incrementButton {
  background: #c4e538;
}
.incrementButton:hover {
  background: #009432;
  color: #fff;
}
.teamField {
  margin: auto;
  background: black;
  align-items: center;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  font-size: 70px;
}
.teamsContainer {
  display: flex;
  background: black;
  justify-content: center;
  position: relative;
}
.member2Field {
  margin-bottom: 15px;
}
.teamName {
  color: white;
  font-size: 80;
}

#clock {
  border-radius: 5px;
  margin: auto;
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: black;
  outline: solid;
  outline-color: white;
}

#timeReading {
  color: red;
  font-size: 200px; /* Adjust font size as needed */
}

#clockContainer {
  margin-top: 15px;
  max-height: fit-content;
}